* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 110px;
  font-family: impact;
  animation: move 2s infinite;
}

button {
  padding: 15px 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

@keyframes move {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
